header {
    background: url($url-img-bg-header);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    width: 100%;
}




#hero-title{
  
    font-family: Orbitron;
    color: $color-font-primary;
    font-size:7rem;
    margin:0 auto;
    /*ext-decoration: underline;*/
    letter-spacing: 2px;
    display:block;
    position: relative;
    text-align:center;
}

#hero-slogan{
   
    font-family: Orbitron;
    color: $color-font-primary;
    font-size:2rem;
    text-align:center;
    letter-spacing: 2px;
    display: block;
    position: relative;
    top: 10%;
}

.btn-header-wrapper{
    
    position: absolute;
    bottom: 2%;
    left: 50%;
    
    transform: translateX(-50%);
    @include respond(tab-port){
        width: 100%;
    }

}