$default-font-size: 1.6rem;

////-----------------------------THEME DARK---------------------------------------------------


//----------Colors------------------

$color-font-primary: #fff;
$color-font-secondary: rgb(33, 37, 41);


$color-input-bg: #f5f5f5;
$color-input-border: #000;

$color-nav-bg: rgba(0,0,0,0.65);
$color-nav-text-default: #ccc;

$color-form-btn: rgba(0, 0, 0, 0.7);
$color-form-bg: rgba(255,255,255,0.8);

$color-down-arrow: rgb(59, 59, 59);

//-----------Background image URL

$url-img-bg-header: "../../img/lamborghini_dark-wallpaper-1920x1080.jpg";


////-----------------------------THEME LIGHT---------------------------------------------------


//----------Colors------------------

/*$color-font-primary: #222;

//-----------Background image UR

$url-img-bg-header: "../../img/lamborghini_aventador-wallpaper-1920x1080.jpg";
$color-font-secondary: #808080;
$color-nav-bg: rgba(255,255,255,0.55);
$color-nav-text-default: rgb(59,59,59);

$color-input-bg: #f5f5f5;
$color-input-border: #000;

$color-form-btn: rgba(255,255,255,0.65);
$color-form-bg: rgba(255,255,255,0.8);

$color-down-arrow: rgb(59, 59, 59);*/
//rgb(230, 222, 211); document bg