.btn-header{
   
    cursor:pointer;
    
    padding: 0.5rem 2rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s;
    
    width:100%;
    
    & p {
        color: $color-font-primary;
    }

    & i{
        color: $color-down-arrow;
        font-size: 5rem;
        margin-top: -2rem;
        transition: all .2s;
    }

    &:active,
    &:hover{
        transform: scale(1.1) translateY(-3px);
        
        & i {
            transform: translateY(5px);
            color: $color-font-primary;
        }
    }
}  