.signupForm{
    margin: 0 auto;
    width: 50%;
    font-size: 2rem;

    
}

.signup-input{
    outline: none;
    border: none;
    background: $color-input-bg !important;

    
}
.signup-btn{
    border: solid 1px #333;
    &:focus{
        outline: none;
    }
}